
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Index</h2>

<h2>Hello hjgkjdsghkgshk  hjkshdkjjh sadhkjashdkj kjhkjsdhkj kasdhdjkhsadjk kjashkjdhkjasd kjashdkjhksajdh kas ojdsh</h2>